 <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header" id="brand">
            <a class="navbar-brand" href="#">
                    <img src="../assets/images/src/app/logo.png"/>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li><a>Username</a></li>
            <li><a>Date</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
        <li style="padding-top:10px;padding-right:10px;">
        <button type="submit" class="btn btn-default">Log Out</button>
        </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
<div id="sidebar" class="col-xs-2">
<div class="row">
<li><span class="glyphicon glyphicon-cloud" aria-hidden="true"></span><a href="">Overview</a></li>
     <li class="selected"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span><a href="">Work</a></li>
     <li><span class="glyphicon glyphicon-tint" aria-hidden="true"></span><a href="">Producer</a></li>
<li><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span><a href="">Contact</li>

</div>

</div>


<div class="col-xs-10">
<div ui-view></div>
</div>
</div>
